<h1>Listing hrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hrs.each do |hr| %>
      <tr>
        <td><%= hr.name %></td>
        <td><%= hr.content %></td>
        <td><%= link_to 'Show', hr %></td>
        <td><%= link_to 'Edit', edit_hr_path(hr) %></td>
        <td><%= link_to 'Destroy', hr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hr', new_hr_path %>
