<!DOCTYPE html>
<html>
<head>
  <title>Intra</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'layouts/navigate' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 well ">
        <!--Sidebar content-->
        <div class = "row-fluid">
         <%= render 'layouts/sidebar' %>   
        </div>
             
      </div>    
   
      <div class="span10 well">
        <!--Body content-->
        <%= yield %>
        <%= yield :scripts %>
      </div>
      
    </div>
  </div>
  

</body>
</html>
